*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container-fluid{
    margin:1rem;
}

.form{
    width: fit-content;
    padding: 2rem;
    background: #9c88ff;
    border: 1px solid #e84118;
    border-radius: 1rem;
    box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
}

input[type="text"],textarea{
    outline: none;
    width: 20rem;
    color: #44bd32 !important;
}


.form-check .form-check-input{
  margin-left: 0;
  width: 2rem;
  height: 1.2rem;
}

.form-check-label{
    margin-left: 10px;
}

.submit-btn{
    background-color: #e84118;
    outline: none;
    color: #fff;
    padding: 0.5rem;
}

.submit-btn:hover,.clear-btn:hover{
    background-color: #000;
    color: #fff;
}

.clear-btn{
    background-color: coral;
    color:#fff;
    outline: none;
    padding: 0.5rem;
    margin-left:1rem
}

.delete-btn{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50% 50%;
    margin-right: 1rem;
}

.todo-container li{
    list-style-type: none;
    margin-top: 5px;
}